{% extends "restaurant/base.html" %}

{% block title %}О ресторане{% endblock %}

{% block content %}
<div class="text2-background">
    <h1 class="text-center">О ресторане</h1>
    <h2 class="text-center">История ресторана</h2>

    <p>Наш ресторан был основан в 2010 году группой единомышленников, которые разделяли любовь к качественной кухне и
        уютной атмосфере. С первых дней мы стремились создать место, где каждый гость мог бы наслаждаться не только
        вкусной едой, но и теплом домашнего уюта. За годы работы мы прошли долгий путь, от небольшого заведения до
        популярного места встречи для друзей и семей. Мы гордимся тем, что многие наши клиенты стали постоянными,
        и рады видеть их снова и снова.</p>

    <h2 class="text-center">Миссия и ценности:</h2>
    <p>Наша миссия — предлагать высококачественные блюда, приготовленные с любовью и заботой о каждом клиенте.
        Мы верим, что еда — это не только способ утолить голод, но и возможность создать воспоминания и укрепить
        связи между людьми. Наши ценности включают:

        Качество: Мы используем только свежие и натуральные ингредиенты, отбирая их с особой тщательностью.
        Уют: Мы стремимся создать атмосферу, в которой каждый чувствует себя как дома.
        Гостеприимство: Каждый наш гость важен для нас, и мы делаем все возможное, чтобы его визит стал незабываемым.
        Устойчивое развитие: Мы поддерживаем местных производителей и стремимся минимизировать воздействие на
        окружающую среду.</p>

    <p>Приходите в <strong>"Вкус Европы"</strong> и откройте для себя истинное наслаждение от европейской кухни в
            сердце нашего города!</p>
    <h2 class="text-center">Команда:</h2>

    <h1>Шеф-повар: Иван Иванов</h1>
    <img src="/media/image/SP.jpg" alt="Шеф-повар Иван Иванов" class="background-image" width="300" height="300">
    <p>Иван — талантливый шеф-повар с более чем 10-летним опытом работы в лучших ресторанах страны. Он специализируется
        на европейской кухне и всегда стремится к совершенству в каждом блюде.</p>

</div>
{% endblock %}
