{% extends "restaurant/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="text2-background">
    <h1 class="text-center">Добро пожаловать в << Вкус Европы >> – ваш уголок гастрономического наслаждения!</h1>
    <h2 class="text-center">Описание ресторана</h2>
    <p>Добро пожаловать в ресторан <strong>"Вкус Европы"</strong>!</p>

    <p>В нашем ресторане мы предлагаем вам уникальное путешествие по кулинарным традициям Европы, где каждая тарелка —
        это произведение искусства, созданное с любовью и вниманием к деталям. Наша команда шеф-поваров черпает
        вдохновение из лучших рецептов старого света, сочетая их с современными кулинарными техниками и свежими
        местными ингредиентами.</p>

    <h2>Атмосфера:</h2>
    <p>"Вкус Европы" — это уютное место, где вы сможете насладиться атмосферой европейского кафе. Интерьер сочетает
        в себе элегантные детали и комфорт, создавая идеальную обстановку для романтического ужина, семейного обеда
        или дружеской встречи. Мягкий свет, приятная музыка и внимательный персонал сделают ваше пребывание
        незабываемым.</p>

    <h2>Меню:</h2>
    <p>Наше меню охватывает разнообразные кухни Европы: от итальянской пасты и французских десертов до испанских тапас
        и немецких колбас. Каждое блюдо готовится с использованием только свежих и качественных продуктов, чтобы вы
        могли по-настоящему насладиться настоящими европейскими вкусами. Не забудьте попробовать наши фирменные блюда,
        такие как ризотто с морепродуктами и классический тирамису.</p>

    <h2>Специальные предложения:</h2>
    <p>Мы регулярно проводим тематические вечера, где вы сможете попробовать аутентичные блюда из разных уголков
        Европы, а также насладиться живой музыкой и дегустациями вин.</p>

    <p>Приходите в <strong>"Вкус Европы"</strong> и откройте для себя истинное наслаждение от европейской кухни в
        сердце нашего города!</p>

    <h2 class="text-center">Перечень предоставляемых услуг</h2>
    <div class="text2-background">
        <ul>
            <li>Основное меню с разнообразными блюдами европейской кухни, включая вегетарианские и веганские опции.</li>
            <li>Специальные предложения, включая сезонные меню и тематические вечера.</li>
            <li>Широкий выбор вин и коктейлей.</li>
            <li>Традиционные европейские десерты, включая веганские и безглютеновые варианты.</li>
            <li>Услуги на вынос и доставка блюд.</li>
            <li>Кейтеринг для частных и корпоративных мероприятий.</li>
            <li>Мероприятия, такие как мастер-классы по кулинарии и живые музыкальные выступления.</li>
            <li>Услуга бронирования столиков.</li>
            <li>Продажа подарочных сертификатов.</li>
        </ul>
    </div>
</div>
{% endblock %}

